<!-- views/partials/header.ejs -->

<h1>TinyApp</h1>
<!-- <div>
  <% if(user_id){ %>
  <a href="/urls/">URLS</a> | <a href="/urls/new">Create a new TinyURL</a>
  <% } %>
</div> -->
<!-- <a href="/register">Register</a> | <a href="/login">Login</a> -->

<% if (!user_id) { %>
<a href="/register">Register</a> | <a href="/login">Login</a>

<% } else { %>
<a href="/urls/">URLS</a> | <a href="/urls/new">Create a new TinyURL</a>
<div class="btn-group" role="group">
  <p>Logged in as <em><%= email %></em></p>
  <form method="POST" action="/logout">
    <button type="submit" class="btn btn-primary">Logout</button>
  </form>
</div>
<% } %>
