<!-- views/partials/header.ejs -->

<h1>TinyApp ༼ つ ◕_◕ ༽つ ᵘʳˡ </h1>

<% if (!user_id) { %>
<div>
  <a href="/register">Register</a> | <a href="/login">Login</a>
</div>

<% } else { %>
<div>
  <a href="/urls/">URLS</a> | <a href="/urls/new">Create a new TinyURL</a>
</div>
<div class="btn-group" role="group">
  <p>Logged in as <em><%= email %></em></p>
  <form method="POST" action="/logout">
    <button type="submit" class="btn btn-primary btn-sm ">Logout</button>
  </form>
</div>
<% } %>