<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <% include ./partials/_header %>
    <a href="/urls/new">Create a new TinyUrl</a>
    <br>
    <h3>Your Tiny Url is <%= shortURL %></h3>
    <p>When this code is appended to http://localhost:8080/u/ your site should redirect to <%= longURL %></p>
    <form class="form-inline" action="/urls/<%= shortURL %>/update" method="POST">
        <div class="form-group mb-2">
            <label for="longURLRename">Edit original URL?</label>
            <input class="form-control" type="text" name="longURLRename" placeholder="<%= longURL %>"
                style="width: 300px; margin: 1em">
            <button type="submit" class="btn btn-outline-primary btn-sm">OK</button>
        </div>
    </form>



</body>

</html>



<!-- BUTTON LOGIC FOR EDITING -->